@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #014040;
  color: #03A678;
  margin: 25px 55px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: xx-large;
}

h2 {
  margin-bottom: 15px;
  font-size: x-large;
}